body{
font-family:Arial;
background:#0f172a;
color:white;
padding:30px;
}

.panel{
background:#1e293b;
padding:20px;
margin-bottom:20px;
border-radius:8px;
}

input{
padding:8px;
margin:10px 0;
}

button{
padding:10px 15px;
margin-top:10px;
cursor:pointer;
}

#progress{
margin-top:10px;
color:#38bdf8;
font-weight:bold;
}
